
<p id="notice"><%= notice %></p>
<h1>All Trips</h1>
<ul class="list trips collapse">
  <% @trips.each do |trip| %>
    <li>
      <%= link_to (trip) do %>
        <h3><%= trip.name %></h3>
        <small>
          <div><span class="icon-small icon-flag"></span><%= trip.country.try (:name) %></div>
          <div><span class="icon-small icon-coin-pound"></span><%= trip.currency.try (:name) %>
          </div>
          <div><%= trip.participant.name.try (:name) %></div>
          <div><%= trip.participant.email.try (:email) %></div>
          <span class="icon-keyboard_arrow_right"></span>
        </small>
      <% end %>
    
    </li>
  <% end %>
  </ul>

<%= link_to 'New Trip', new_trip_path, :class => 'btn' %>
