<header class="trip-header">
<div class="black-fade"></div>
<img id="trip-header" class="trip-image" src="//placehold.it/400x200" alt="" />
<h1 class="trip-name">
  <%= @trip.tripname %>
</h1>

<div class="trip-meta">
  <span class="country">
    <span class="icon-flag"></span><%= @trip.country.try (:name) %>
    </span>
  <span class="currency">
    <span class="icon-coin-pound"></span><%= @trip.currency.try (:name) %>
  </span>
  
  <%#= @trip.participant.try (:name) %>
  <%#= @trip.participant.try (:email) %>


</div>

</header>

<%= link_to 'Add Participant', new_participant_path, :class=> "btn" %>
<%= link_to 'New Expense', new_expense_path, :class=> "btn" %>

<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_trip_path(@trip), :class=> "btn" %>

<%= link_to 'All Trips', trips_path, :class=> "btn secondary" %>
<%= link_to 'Delete', @trip, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn error" %>

