<header class="trip-header">
<p>
  <%= @trip.name %>
</p>

<p>
  <%= @trip.country.try (:name) %>
</p>

<p>
  <%= @trip.currency.try (:name) %>
</p>

</header>
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_trip_path(@trip), :class=> "btn" %>

<%= link_to 'All Trips', trips_path, :class=> "btn secondary" %>
<%= link_to 'Delete', @trip, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn error" %>