<% if user_signed_in? %>
  <h1>My Trips</h1>

  <%#= link_to 'Listing Trips', trips_path %>

  <ul class="list trips collapse">
  <% current_user.trips.each do |trip| %>
    <li>
      
      <%= link_to (trip) do %>
        <h3><%= trip.tripname %></h3>
        <small>
          <div><span class="icon-small icon-flag"></span><%= trip.country.try (:name) %></div>
          <div><span class="icon-small icon-coin-pound"></span><%= trip.currency.try (:name) %>
          </div>
        <%= trip.participant_name.try (:name) %>  
        <%= trip.participant_name.try (:email) %> 
          <span class="icon-keyboard_arrow_right"></span>
        </small>
      <% end %>
    
    </li>
  <% end %>
  </ul>


  <%= link_to 'Create new trip', new_trip_path, :class=> "btn" %>
<% else %>
  <h1>Welcome to ExpenseShare</h1>
  <h2>Keep a track of your expenses instantly</h2>

<%= link_to 'Get started', new_user_registration_path, :class=> "btn" %>

<% end %>