<p id="notice"><%= notice %></p>

<h1>All Expenses</h1>
<ul class="list expenses collapse trip-expenses">
  <% @expenses.each do |expense| %>
  <li>
    <%= link_to (expense) do %>
    <%= expense.name %>
          <strong>$ <%= expense.amount %></strong>
          <small>
          <%= expense.description %>
          </small>
    <% end %>
  </li>
  <% end %>
</ul>


<%= link_to 'New Expense', new_expense_path, :class=> "btn" %>
<%= link_to 'All Trips', trips_path, :class=> "btn secondary" %>

