<div class="clearfix">
  <%= link_to 'Back to trip', @expense.try(:trip), :class=> "btn secondary left" %>  
</div>

<p id="notice"><%= notice %></p>

<h1>
  <%= @expense.name %>
</h1>

<div class="flex">
  <p><span class="icon-work"></span> 
    <%= @expense.trip.try(:tripname) %>
  </p>
  <time datetime="<%= @expense.human_readable_date %>" class="expense-date">
    <span class="icon-insert_invitation"><%= @expense.human_readable_date %></span>
  </time>
</div>

<div class="flex">
  <div class="expense-description">
    <h5>Description</h5>
    <p>
      <%= @expense.description %>
    </p>
  </div>
  <div class="expense-amount">
    <h5>Amount</h5>
    <h2>
      $ <%= @expense.amount %>
    </h2>
  </div>
</div>
<button id="show-receipt" class="btn small"><span class="icon-camera_alt"></span> Show Receipt</button>

<hr class="fancy" />

<%= link_to image_tag(@expense.expense_image.large.url), @expense.expense_image.large.url, :id=> "expense-image", :class=> "expense-image" %>

<h3>Split expense between</h3>

<ul class="collapse checklist">
<% @expense.trip.try(:participants).each do |participant| %>
  <li>
    <label><input type="checkbox" value="<%= participant.name %>"><%= participant.name %></label>
  </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_expense_path(@expense), :class=> "btn" %> 
<%= link_to 'Delete', @expense, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn error" %>