<p id="notice"><%= notice %></p>

<h1>
  <%= @expense.name %>
</h1>

<p><span class="icon-work"></span> TRIP NAME</p>


<datetime="<%= @expense.human_readable_date %>" class="expense-date">

<span class="icon-insert_invitation"></span>
  <%= @expense.human_readable_date %>
</time>


<p class="expense-description">
  <%= @expense.description %>
</p>

<h2 class="expense-amount">
  <%= @expense.amount %>
</h2>

<button id="show-receipt" class="btn small"><span class="icon-camera_alt"></span> Show Receipt</button>

<%= link_to image_tag(@expense.expense_image.large.url), @expense.expense_image.large.url, :id=> "expense-image", :class=> "expense-image" %>

<h3>Split between</h3>

<ul class="collapse">
<li>
    <label><input type="checkbox" value="PERSON">Person</label>
  </li>
</ul>

<%= link_to 'Edit', edit_expense_path(@expense), :class=> "btn" %> 
<%= link_to 'All Expenses', expenses_path, :class=> "btn secondary" %>
<%= link_to 'Delete', @expense, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn error" %>