<%= form_for(@usertrip) do |f| %>
  <% if @usertrip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usertrip.errors.count, "error") %> prohibited this usertrip from being saved:</h2>

      <ul>
      <% @usertrip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :trip_id %><br>
    <%= f.number_field :trip_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
