<!DOCTYPE html>
<html>
<head>
  <title>ExpenseShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

</head>
<body>
  <header class="header">
    <a href="/">
      <img src="//placehold.it/180x50">
    </a>  
    <div class="account">
      <% if !user_signed_in? %>
        <%= link_to 'Login', new_user_session_path %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'account-logout'  %>
      <% else %>
        <%= link_to "Account", edit_user_registration_path %>
      <% end %>
    </div> 
 </header>
<main class="main">
  <%= yield %>
</main>
</body>
</html>