<!DOCTYPE html>
<html>
<head>
  <title>ExpenseShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

</head>
<body>
  <header class="header flex">  
    <% if user_signed_in? %>
    <div class="account">
     <strong><%= link_to "Hello, #{current_user.name}", current_user %></strong>.
   </div>
   <%= link_to 'Edit profile', edit_user_registration_path, :class => 'account-edit' %> |
   <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'account-logout'  %>
   <% end %> 
 </header>
<% if !user_signed_in? %>
<section>
  <h1>Hi new user!! This is totes amaze</h1>
  <%= link_to 'Get started', new_user_registration_path, :class=> "btn" %>
</section>
<% end %>
<%= yield %>
<section>
  <div class="block">
  </div>
</section>
</body>
</html>